#
# Config file for Elasticsearch containers
#

# Container
CONTAINER=evertramos/elastic-files

# Description
NAME=elastic5
NODE_NAME=es_local_001
CLUSTER_NAME=es_local_001_01

# Ports
LOCAL_PORT=9200
ES_PORT=9200
LOCAL_PORT_2=9300
ES_PORT_2=9300

# Data
LOCAL_FOLDER=~/dockerhome/data/elastic
CONTAINER_FOLDER=/usr/share/elasicsearch/data

# Settings
CONFIG_FOLDER=
READ_ONLY=false

