#
# Config file for MySQL containers
#

# makeContainer : MySQL
NAME=SERVER_NAME
LOCAL_FOLDER=LOCAL_PATH
CONTAINER_FOLDER=/var/lib/mysql
ROOT_PASSWORD=ROOT_PASSWORD
CONTAINER=mysql

MYSQL_DATABASE=MYSQL_DATABASE
MYSQL_USER=MYSQL_USER
MYSQL_PASSWORD=MYSQL_PASSWORD
