#
# Config file for wordpress containers
#

# makeContainer : WordPress
NAME=server
LOCAL_FOLDER=/local/server/path/should/be/mounted
CONTAINER_FOLDER=/var/www/html
CONTAINER=wordpress

LOCAL_IP=0.0.0.0
LOCAL_PORT=
CONTAINER_PORT=80

DB_SERVER_NAME=db_server_name

MYSQL_DATABASE=wp_database
MYSQL_USER=wp_database_user
MYSQL_PASSWORD=wp_database_password
