#
# Config file for MariaDB containers
#

# Container
CONTAINER=evertramos/mariadb:10.1

# Description
NAME=srv-db1

# Data
LOCAL_FOLDER=~/dockerhome/data/mariadb
CONTAINER_FOLDER=/var/lib/mysql

# Settings
MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=data_basename
MYSQL_USER=user
MYSQL_PASSWORD=passowrd

# Dump
DUMP_PATH=~/dockerhome/backup/db
DUMP_FILE=$DUMP_PATH/$MYSQL_DATABASE.sql
