#
# Config file for MySQL containers
#

# makeContainer : MySQL
NAME=server
LOCAL_FOLDER=/local/server/path/should/be/mounted
CONTAINER_FOLDER=/var/lib/mysql
CONTAINER=mysql

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=database
MYSQL_USER=user
MYSQL_PASSWORD=pass

DUMP_PATH=/path/where/dump/file/should/be
DUMP_FILE=$DUMP_PATH/$MYSQL_DATABASE.sql
